
h1{
    color: blue;
    border: 1px solid rebeccapurple;
}
.parrafoRojo{
    font-size: 35px;
    border: 1px solid red;
}
.pAmazul{
    color:brown;
    background-color: chartreuse;
    border: 2px solid yellow;
    margin: top 120px; ;
    padding-bottom: 120px;

}