body{
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5em;
    padding-left: 5em;
    padding-right: 5em;
}
.fondoblanco{
    background-color: white;
}
.fondoazul{
    background-color: blue;
}
.fondonegro{
    background-color: black;
    text-align: center;
    margin-top: 0;
    border-radius: 10px;
    color: white;
    padding: 5em;
}
.imagen{
    width: 150px;

}
.texto1{
    text-align: center;
    font-size: 3em;
    color: rgb(91, 117, 129);
}
.texto2{
font-size: 1em;
color: rgb(20, 19, 19);
background-color: bisque;
text-align: justify;
}
.separacion{
padding: 1em;
background-color: darkcyan;
}
.texto3{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.borde{
    border: 10px solid white;
    border-radius: 10px;

}
.bordeA{
    border: 2px solid #000000;
    border-radius:5px ;
}